<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>ユーザー詳細画面</h2>
      <%= render 'users/info', user: @recruitment.user %>
      <h2 class="mt-3">新規投稿</h2>
      <%= render 'form', recruitment: Recruitment.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>投稿一覧</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@recruitment.user) do %>
            <%= image_tag @recruitment.user.get_profile_image, size:"100x100" %><br>
            <%= @recruitment.user.name %>
            <% end %>
          </td>
          <td><%= link_to @recruitment.title, @recruitment %></td>
          <td><%= @recruitment.body %></td>
          <td><%= render "favorites/btn", recruitment: @recruitment %></td>
          <td>コメント数: <%= @recruitment.recruitment_comments.count %></td>
          <% if @recruitment.user == current_user %>
            <td><%= link_to '編集', edit_recruitment_path(@recruitment), class: "btn btn-sm btn-success edit_recruitment_#{@recruitment.id}" %></td>
            <td><%= link_to '削除', recruitment_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_recruitment_#{@recruitment.id}"%></td>
          <% end %>
        </tr>
      </table>

      <%= render "recruitment_comments/index", recruitment: @recruitment %>
      <%= render "recruitment_comments/form", recruitment: @recruitment, recruitment_comment: @recruitment_comment %>

    </div>
  </div>
</div>