<table>
  <tbody>
      <% recruitment.recruitment_comments.each do |recruitment_comment| %>
      <tr>

        <td>
          <%= link_to user_path(recruitment_comment.user) do %>
            <%= image_tag recruitment_comment.user.get_profile_image, size: "100x100" %><br>
            <%= recruitment_comment.user.name %>
          <% end %>
        </td>
        <td><%= recruitment_comment.comment %></td>
        <td>
          <% if recruitment_comment.user == current_user %>
            <%= link_to "削除", recruitment_recruitment_comment_path(recruitment, recruitment_comment), method: :delete, class: "btn btn-danger pull-right btn-sm" %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>