<table class = "w-100">
  <tbody>
      <% recruitment.recruitment_comments.each do |recruitment_comment| %>
      <tr class = "w-100">

        <td class = "col-100px">
          <%= link_to user_path(recruitment_comment.user) do %>
            <%= image_tag recruitment_comment.user.get_profile_image, size: "50x50" %><br>
            <span class = "font-small"><%= recruitment_comment.user.name %></span>
          <% end %>
        </td>
        <td><div class = "hukidasi"><%= recruitment_comment.comment %><br>
          <small class="text-bloack-50"><%= recruitment_comment.created_at.in_time_zone("Tokyo").strftime("%Y/%m/%d %H:%M") %></small>
          </div></td>
        <td class = "col-60px">
          <% if (recruitment_comment.user == current_user || current_user.is_admin?) %>
            <%= link_to "削除", recruitment_recruitment_comment_path(recruitment, recruitment_comment), method: :delete, class: "btn btn-danger pull-right btn-sm", data: { confirm: "【確認】コメントを削除してもよろしいですか？" } %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>